@page "/"

<PageTitle>@Constants.ApplicationName - @Constants.TagLine</PageTitle>

<div class="mt-5 text-center">
    <h1 class="display-5 fw-bold">@Constants.ApplicationName</h1>

    <p class="lead">@Constants.TagLine.</p>
</div>
