@inherits LayoutComponentBase

<NavMenu/>

<Notification/>

<main class="container">
    @Body
</main>

<PageFooter/>

<div id="blazor-error-ui">
    <span>An error has occurred.</span>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">Dismiss</a>
</div>
