<footer class="footer mt-auto py-3 bg-body-tertiary">
    <div class="container">
        <span class="text-body-secondary">© @CurrentYear MFW</span>
    </div>
</footer>

@code {
    private int CurrentYear { get; } = TimeProvider.System.GetLocalNow().Year;
}
